/*
colores:
    #FF4A1C

    colores logo:
    	#0074A3
        #005C83
        #FFFFF6
        #DFDFDB
        #E0E0E0
        #C0C0C0
        #B7EBFF
        #38CAFF
*/
@font-face{
    font-family: "Poppins-light";
    src: url("./fonts/poppins/Poppins-Light.ttf");
}
@font-face{
    font-family: "Poppins-semibold";
    src: url("./fonts/poppins/Poppins-SemiBold.ttf");
}
@font-face{
    font-family: "Comfortaa-wgth";
    src: url("./fonts/comfortaa/Comfortaa-wght.ttf");
}
*{
    border-radius: 0 !important;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Poppins-light";
}
.alert{
    border: none !important;
    color: white !important;
    width: auto !important;
}
.alert-success{
    background-color: #01BC8E !important;
}
.alert-primary{
    background-color: #3799D8 !important;
}
.alert-warning{
    background-color: #EF9B17 !important;
}
.alert-danger{
    background-color: #E54C39 !important;
}
.alert-light{
    background-color: rgb(255, 255, 255) !important;
    color: black !important;
}
.alert-dark{
    background-color: #343332 !important;
}
.btn{
    border: none !important;
    color: white !important;
}
.btn-success{
    background-color: #01BC8E !important;
}
.btn-primary{
    background-color: #3799D8 !important;
}
.btn-warning{
    background-color: #EF9B17 !important;
}
.btn-danger{
    background-color: #E54C39 !important;
}
.btn-light{
    background-color: rgb(177, 177, 177) !important;
}
.btn-dark{
    background-color: #343332 !important;
}
/*buenos aires general*/
.ba-container{
    min-height: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.ba-prueba-color{
    background-color: aqua !important;
    border: 1px solid black;
}
label[class="error"]{
    color: red !important;
}
/*buenos aires navbar*/
.ba-jumbotron{
    margin-bottom: 0px !important;
    border-radius: 0 !important;
}
.ba-jumbotron-logo{
    height: 80px;
}
.ba-navbar{
    /**/
}
.modal-open .ba-navbar{
    padding-right: 16px !important;
    margin-right: 0px !important;
}
.ba-center-logo{
    position: absolute;
    right: 46.5%;
    /*left: 50%;*/
    top: 5%;
    width: 100px;
    text-align: center;
    font-size: 18px;
}
.ba-navbar-logo{
    height: 80px;
}
@media only screen and (max-width: 991px) {
    .ba-center-logo{
        position: static;
        left: auto;
        top: auto;
        width: auto;
    }
    .ba-navbar-logo{
        height: 40px;
    }
}
.nav-link{
    color: white !important;
}
.nav-link:hover{
    color: #0074A3 !important;
}
.dropdown-menu{
    border-radius: 0 !important;
}
/*buenos aires modal*/
.modal-content{
    border: none !important;
}
.modal-header{
    background-color: #0074A3 !important;
    color: white !important;
}
.modal-footer{
    background-color: #333333 !important;
}
/*buenos aires footer*/
.ba-footer-container{
    background-color: #333333;
}
.ba-footer{
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.ba-footer-table{
    width: 100%;
    height: 100%;
    display: table;
}
.ba-footer-row{
    width: 100%;
    height: 100%;
    display: table-row;
}
.ba-footer-cell{
    width: 100%;
    display: table-cell;
    float: none;
    vertical-align: middle;
}
.ba-footer-logo{
    height: 100px;
}
.ba-footer-title{
    margin-left: 10px;
    font-size: 30px;
    font-weight: bold;
}
.ba-footer-list li{
    background-color: transparent !important;
}
/*buenos aires index*/
.ba-carousel-img{
    width: 100%;
    max-height: 600px;
    min-height: 100px;
}
.ba-carousel-caption{
    text-shadow: black 5px 5px 5px;
}
.ba-card{
    background-color: #0074A3 !important;
    color: white !important;
    margin-bottom: 20px;
}
.ba-img-card{
    max-height: 250px;
}
.ba-table-anwo-producto td{
    padding-top: 5px;
    padding-bottom: 5px;
}
/*buenos aires login*/
.ba-login-container{
    background: url('/static/img/ba-login.jpg') no-repeat center center fixed;
    background-repeat: no-repeat;
    height: 100%;
    background-size: 100% 100%;
}
/*buenos aires solicitudes*/
.ba-solicitudes-container{
    background: url('/static/img/ba-solicitudes.jpg') no-repeat center center fixed;
    background-repeat: no-repeat;
    height: 100%;
    background-size: 100% 100%;
}
.ba-media-container{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
}
.ba-solicitud-form-container{
    background-color: rgba(0, 116, 163, 0.7);
    padding: 20px;
}
.ba-solicitud-radios{
    width: 20px;
    height: 20px;
}
textarea[name="descripcion"]{
    resize: none;
}
