{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Buenos Aires</title>
    <!--bloque de estilos-->
    {% block styles %}
    <link rel="stylesheet" href="{% static './css/bootstrap.css' %}" type="text/css">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static './css/slide.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static './css/style.css' %}" type="text/css">
    <link rel="shortcut icon" href="{% static './img/ba-favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static './img/ba-favicon.ico' %}" type="image/x-icon">
    {% endblock %}
</head>
<body>
    <!--bloque de navbar-->
    {% block navbar %}
        <!--jumbotron navbar-->
        {% if not user.is_authenticated %}
        <div class="jumbotron ba-jumbotron">
            <div class="container text-center">
                <div class="justify-content-center">
                    <img class="ba-jumbotron-logo" src="{% static './img/ba-logo.png' %}" alt="error-logo">
                    <h1 class="d-inline align-middle">Buenos Aires</h1>
                </div>
                <hr style="width: 50%;">
                <p>Si me dan a escoger entre Dios y el aire acondicionado, me quedo con el aire.</p>
                <button class="btn btn-dark" data-toggle="modal" data-target="#ba-modal-registro">Registrarse</button>
            </div>
        </div>
        {% endif %}

    <!--navbar-->
    <div class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top ba-navbar">     
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Inicio</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'solicitudes' %}">Solicitudes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'productos' %}">Productos</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#ba-modal-login">Solicitudes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#ba-modal-login">Productos</a>
                </li>
                {% endif %}
            </ul>
        </div>

        <a class="navbar-brand" href="{% url 'index' %}">
            <div class="ba-center-logo">
                <img class="ba-navbar-logo" src="{% static './img/ba-logo.png' %}" alt="error-logo">
            </div>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                {% if not user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#ba-modal-registro">Registrarse</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#ba-modal-login">Iniciar sesion</a>
                </li>
                {% else %}
                <li class="nav-item dropdown">
                    {% if user.is_superuser or user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="/api/">API</a>
                    </li>
                        {% if user.is_superuser %}
                        <button class="btn btn-warning mr-2" type="button" data-toggle="modal" data-target="#ba-modal-tecnico">Registrar técnico</button>
                        {% endif %}
                    {% else %}
                    <span style="color: white; margin-right: 10px;">Bienvenido/a de vuelta</span>
                    {% endif %}
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i> {{user}}
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'solicitudes' %}">Mis solicitudes</a>
                        <a class="dropdown-item" href="/logout/">Cerrar sesion</a>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>

        {% if not user.is_authenticated %}
        <!--modal registro-->
        <div class="modal fade" id="ba-modal-registro" tabindex="-1" role="dialog" aria-labelledby="ba-modal-registro" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ba-modal-registro">Registrarse en Buenos Aires</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="#" method="post" enctype="multipart/form-data" id="ba-form-registro">
                        {% csrf_token %}
                        <div class="modal-body">
                            <!--div class="form-group">
                                <label for="rut">Rut</label>
                                <input class="form-control" type="text" name="rut" id="rut">
                            </div-->
                            <div class="form-group">
                                <label for="nombre">Nombre</label>
                                <input class="form-control" type="text" name="nombre" id="nombre">
                            </div>
                            <div class="form-group">
                                <label for="paterno">Apellido paterno</label>
                                <input class="form-control" type="text" name="paterno" id="paterno">
                            </div>
                            <!--div class="form-group">
                                <label for="materno">Apellido materno</label>
                                <input class="form-control" type="text" name="materno" id="materno">
                            </div>
                            <div class="form-group">
                                <label for="nacimiento">Fecha de nacimiento</label>
                                <input class="form-control" type="date" name="nacimiento" id="nacimiento">
                            </div-->
                            <div class="form-group">
                                <label for="correo">Correo</label>
                                <input class="form-control" type="text" name="correo" id="correo">
                            </div>
                            <!--div class="form-group">
                                <label for="telefono">Telefono</label>
                                <input class="form-control" type="text" name="telefono" id="telefono">
                            </div-->
                            <div class="form-group">
                                <label for="regUsername">Usuario</label>
                                <input class="form-control" type="text" name="regUsername" id="regUsername">
                            </div>
                            <div class="form-group">
                                <label for="regPassword">Contraseña</label>
                                <input class="form-control" type="password" name="regPassword" id="regPassword">
                            </div>
                            <div class="form-group">
                                <label for="regRePassword">Confirme contraseña</label>
                                <input class="form-control" type="password" name="regRePassword" id="regRePassword">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input class="btn btn-success btn-block" type="submit" value="Registrarse">
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--modal login-->
        <div class="modal fade" id="ba-modal-login" tabindex="-1" role="dialog" aria-labelledby="ba-modal-login" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ba-modal-login">Iniciar sesion en Buenos Aires</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="{% url 'login' %}" method="post" enctype="multipart/form-data" id="ba-form-login">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="username">Usuario</label>
                                <input class="form-control" type="text" name="username" id="id_username">
                            </div>
                            <div class="form-group">
                                <label for="password">Constraseña</label>
                                <input class="form-control" type="password" name="password" id="id_password">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input class="btn btn-success btn-block" type="submit" value="Iniciar sesion">
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}

        {% if user.is_authenticated and user.is_superuser %}
        <!--modal registro tecnico-->
        <div class="modal fade" id="ba-modal-tecnico" tabindex="-1" role="dialog" aria-labelledby="ba-modal-tecnico" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ba-modal-tecnico">Registrar técnico</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="#" method="post" enctype="multipart/form-data" id="ba-form-tecnico">
                        {% csrf_token %}
                        <div class="modal-body">
                            <!--div class="form-group">
                                <label for="rut">Rut</label>
                                <input class="form-control" type="text" name="rut" id="rut">
                            </div-->
                            <div class="form-group">
                                <label for="nombre">Nombre</label>
                                <input class="form-control" type="text" name="nombre" id="nombre">
                            </div>
                            <div class="form-group">
                                <label for="paterno">Apellido paterno</label>
                                <input class="form-control" type="text" name="paterno" id="paterno">
                            </div>
                            <!--div class="form-group">
                                <label for="materno">Apellido materno</label>
                                <input class="form-control" type="text" name="materno" id="materno">
                            </div>
                            <div class="form-group">
                                <label for="nacimiento">Fecha de nacimiento</label>
                                <input class="form-control" type="date" name="nacimiento" id="nacimiento">
                            </div-->
                            <div class="form-group">
                                <label for="correo">Correo</label>
                                <input class="form-control" type="text" name="correo" id="correo">
                            </div>
                            <!--div class="form-group">
                                <label for="telefono">Telefono</label>
                                <input class="form-control" type="text" name="telefono" id="telefono">
                            </div-->
                            <div class="form-group">
                                <label for="regUsername">Usuario</label>
                                <input class="form-control" type="text" name="regUsername" id="regUsername">
                            </div>
                            <div class="form-group">
                                <label for="regPassword">Contraseña</label>
                                <input class="form-control" type="password" name="regPassword" id="regPassword">
                            </div>
                            <div class="form-group">
                                <label for="regRePassword">Confirme contraseña</label>
                                <input class="form-control" type="password" name="regRePassword" id="regRePassword">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input class="btn btn-success btn-block" type="submit" value="Registrar">
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
    {% endblock %}

    <!--bloque de contenido-->
    {% block content %}
    {% endblock %}

    <!--bloque de footer-->
    {% block footer %}
    <div class="container-fluid ba-footer-container" id="ba-footer">
        <div class="container ba-footer">
            <div class="row">
                <div class="col-md-6">
                    <div class="ba-footer-table">
                        <div class="ba-footer-row">
                            <div class="ba-footer-cell">
                                <img class="ba-footer-logo" src="{% static './img/ba-logo.png' %}" alt="error-footer-logo">
                                <span class="ba-footer-title">Buenos Aires</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="list-group list-group-flush ba-footer-list">
                        <li class="list-group-item"><h5><b>Contacto</b></h5></li>
                        <li class="list-group-item"><i class="fab fa-facebook"></i> Facebook</li>
                        <li class="list-group-item"><i class="fab fa-instagram"></i> Instagram</li>
                        <li class="list-group-item"><i class="fab fa-twitter"></i> Twitter</li>
                        <li class="list-group-item"><i class="fab fa-youtube"></i> Youtube</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    <!--bloque de scripts-->
    {% block scripts %}
    <script src="{% static './js/jquery-3.4.1.js' %}"></script>
    <script src="{% static './js/popper.js' %}"></script>
    <script src="{% static './js/bootstrap.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/js/bootstrap4-toggle.min.js"></script>
    <script src="{% static './js/jquery.validate.min.js' %}"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="{% static './js/hullabaloo.min.js' %}"></script>
    <script src="{% static './js/smooth.js' %}"></script>
    <!--buenos aires general script-->
    <script src="{% static './js/app.js' %}"></script>
    <!--buenos aires scripts-->
    <script src="{% static './js/buenosaires_js/validations.js' %}"></script>
    {% endblock %}

    <!--bloque para scripts extra-->
    {% block scripts-extra %}
    {% endblock %}
</body>
</html>