{% extends './base.html' %}
{% load staticfiles %}

<!--bloque de contenido-->
{% block content %}
<!--carrusel-->
<div id="ba-carousel-indicator" class="carousel slide w-100" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#ba-carousel-indicator" data-slide-to="0" class="active"></li>
        <li data-target="#ba-carousel-indicator" data-slide-to="1"></li>
        <li data-target="#ba-carousel-indicator" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100 ba-carousel-img" src="{% static './img/ba-carousel-img-1.jpg' %}" alt="error-first-img">
            <div class="carousel-caption d-none d-md-block ba-carousel-caption">
                <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, voluptas.</h5>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100 ba-carousel-img" src="{% static './img/ba-carousel-img-2.jpg' %}" alt="error-second-img">
            <div class="carousel-caption d-none d-md-block ba-carousel-caption">
                <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, voluptas.</h5>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100 ba-carousel-img" src="{% static './img/ba-carousel-img-3.jpg' %}" alt="error-third-img">
            <div class="carousel-caption d-none d-md-block ba-carousel-caption">
                <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, voluptas.</h5>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#ba-carousel-indicator" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#ba-carousel-indicator" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
    </a>
</div>

<!--productos a la venta-->
<div class="container-fluid ba-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="mb-5">Productos disponibles en ANWO</h1>
            </div>
        </div>
        <div class="row" id="anwo-productos">
            <!-- <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-center">
                <div class="card ba-card" style="width: 26rem;" data-aos="zoom-in">
                    <img class="ba-img-card" src="{% static './img/ba-aire.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Lorem.</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat architecto error laboriosam eos dolore sequi blanditiis minima pariatur unde laudantium.</p>
                        <a href="#" class="btn btn-success btn-block">Go somewhere</a>
                    </div>
                </div>
            </div> -->
        </div>
        <div id="anwo-productos-modal"></div>
    </div>
</div>
{% endblock %}

<!--bloque para scripts extra-->
{% block scripts-extra %}
<script>
    anwo_productos()
</script>
{% endblock %}