{% extends './base.html' %}
{% load staticfiles %}

<!--bloque de contenido-->
{% block content %}
{% if not user.is_authenticated %}
<script>
    window.location.href = "/login/"
</script>
{% endif %}
<div class="container-fluid ba-container" style="background-color: #E0E0E0;">
    <input type="hidden" name="user" id="user" value="{{user.id}}">

    {% if request.GET.url_producto != "" and request.GET.url_producto != None and request.GET.producto != "" and request.GET.producto != None %}
    <div class="container mb-5">
        <div class="row">
            <div class="col-md-12">
                <h1>Confirmar compra</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form action="#" method="post" enctype="multipart/form-data" id="ba-form-confirmar">
                    {% csrf_token %}
                    <input type="hidden" name="producto" id="producto" value="{{request.GET.url_producto}}">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="producto">Producto</label>
                                <input class="form-control" type="text" name="auxDescripcion" id="auxDescripcion" value="{{request.GET.producto}}" disabled>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="direccion">Dirección de despacho</label>
                                <input class="form-control" type="text" name="direccion" id="direccion">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input class="btn btn-success btn-block" type="submit" value="Confirmar">
                        </div>
                        <div class="col-md-6">
                            <a class="btn btn-danger btn-block" href="{% url 'productos' %}">Cancelar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ba-modal-compra" tabindex="-1" role="dialog" aria-labelledby="ba-modal-compra" aria-hidden="true">'
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form action="#" method="post" enctype="multipart/form-data" id="ba-form-compra">
                    {% csrf_token %}
                    <input type="hidden" name="imagesrc" id="imagesrc" value="">
                    <input type="hidden" name="descripcion" id="descripcion" value="">
                    <input type="hidden" name="modelo" id="modelo" value="">
                    <input type="hidden" name="precio" id="precio" value="">
                    <input type="hidden" name="cantidad" id="cantidad" value="">
                    <input type="hidden" name="tipo" id="tipo" value="">
                    <input type="hidden" name="marca" id="marca" value="">
                    <input type="hidden" name="proveedor" id="proveedor" value="">

                    <div class="modal-header">
                        <h5 class="modal-title" id="">{{request.GET.producto}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <img style="height: 200px; border: 1px solid black; margin-top: 10px; margin-bottom: 10px;" src="" alt="error-foto" id="imgFoto">
                            </div>
                            <div class="col-md-6 d-flex align-items-center">
                                <table class="ba-table-anwo-producto">
                                    <tr>
                                        <td><b>Modelo: </b></td>
                                        <td><span id="txtModelo"></span></td>
                                    </tr>
                                    <tr>
                                        <td><b>Tipo: </b></td>
                                        <td><span id="txtTipo"></span></td>
                                    </tr>
                                    <tr>
                                        <td><b>Marca: </b></td>
                                        <td><span id="marca-txtMarca"></span></td>
                                    </tr>
                                    <tr>
                                        <td><b>Cantidad: </b></td>
                                        <td><span id="txtCantidad"></span></td>
                                    </tr>
                                    <tr>
                                        <td style="color: red !important;" colspan="2">
                                            <b><span id="txtPrecio"></span></b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" id="pagoButton"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <input class="btn btn-success btn-block" type="submit" value="Terminar">
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}

    <!--productos comprados-->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Mis Productos</h1>
            </div>
        </div>
        <div class="row" id="productos">
            
        </div>
    </div>
</div>
{% endblock %}

<!--bloque para scripts extra-->
{% block scripts-extra %}
<script>
    cargar_user_productos()
</script>
{% endblock %}