{% extends './base.html' %}
{% load staticfiles %}

<!--bloque de contenido-->
{% block content %}
<div class="container-fluid ba-container ba-solicitudes-container">
    <div class="container">
        {% if not user.is_superuser %}
            {% if not user.is_staff %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                La fecha ingresada en las solicitudes deben ser confirmadas por los <strong>técnicos de Buenos aires.</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
        {% endif %}
        <div class="row">
            <div class="col-md-12">
                {% if user.is_superuser or user.is_staff %}
                <h1 style="color:white;text-shadow: 2px 2px 10px black;">Solicitudes</h1>
                {% else %}
                <h1 style="color:white;text-shadow: 2px 2px 10px black;">Mis solicitudes</h1>
                {% endif %}
            </div>
        </div>
        <div class="row" id="solicitudes">
            <!-- <div class="col-md-12">
                <div class="media mb-3 shadow p-3 ba-media-container">
                    <img class="align-self-center mr-3" style="height: 64px;" src="{% static './img/ba-solicitud-R.png' %}" alt="...">
                    <div class="media-body">
                        <div class="d-flex justify-content-between">
                            <h5 class="mt-0">Media heading</h5>
                            <span class="align-middle">
                                Estado
                                <div class="custom-control custom-radio custom-control-inline align-middle mb-1">
                                    <input class="custom-control-input solicitud-radio" type="radio" id="" name="" >
                                    <label class="custom-control-label" for="solicitud-radio"></label>
                                </div>
                            </span>
                        </div>
                        <div class="">
                            <span class="mr-2">{{user}}</span>
                            <span>Fecha</span>
                        </div>
                        <div class="text-justify">
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <div>
            <input type="hidden" name="bmId" id="bmId" value="">
            <input type="hidden" name="bmFecha" id="bmFecha" value="">
            <input type="hidden" name="bmHora" id="bmHora" value="">
            <input type="hidden" name="bmDescripcion" id="bmDescripcion" value="">
            <input type="hidden" name="bmTipo" id="bmTipo" value="">
            <input type="hidden" name="bmEstado" id="bmEstado" value="">
            <input type="hidden" name="bmUser" id="bmUser" value="">
        </div>
        <div class="d-none" style="background-color: #005C83; padding: 20px; width: 400px;" id="ba-mail-confirm">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <h5 class="d-inline" style="color: white;">Confirmar fecha/hora de solicitud</h5>
                    <button type="button" class="close" aria-label="Close" onclick="hide_mail_confirm()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-success btn-block" type="button" onclick="confirmar_fecha_hora()">Confirmar</button>  
                </div>
                <div class="col-md-6">
                    <button class="btn btn-danger btn-block" type="button" onclick="hide_mail_confirm()">Cancelar</button>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <h1 style="color:white;text-shadow: 2px 2px 10px black;">Nueva solicitud</h1>
            </div>
            <div class="col-md-12">
                <div class="shadow p-3 ba-solicitud-form-container">
                    <form action="#" method="post" enctype="multipart/form-data" id="ba-form-solicitud">
                        {% csrf_token %}
                        <input type="hidden" name="user" id="user" value="{{user.id}}">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="fecha"><h5>Fecha</h5></label>
                                    <input class="form-control" type="date" name="fecha" id="fecha">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="fecha"><h5>Hora</h5></label>
                                    <input class="form-control" type="time" name="hora" id="hora">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tipo"><h5>Tipo de solicitud</h5></label>
                            <select class="form-control" name="tipo" id="tipo">
                                <option value="default" selected hidden>Seleccione tipo de solicitud...</option>
                                <option value="M">Mantención</option>
                                <option value="R">Reparación</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="descripcion"><h5>Descripcion</h5></label>
                            <textarea class="form-control" name="descripcion" id="descripcion" rows="4"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input class="btn btn-success btn-block" type="submit" value="Crear solicitud">
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-danger btn-block" type="reset" onclick="resetFormSolicitud()">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!--bloque para scripts extra-->
{% block scripts-extra %}
<script>
    solicitudes()
</script>

    {% if user.is_superuser or user.is_staff %}
        <script>
            window.onload = function(){
                setInterval(function() {
                    $(".ba-solicitud-radios").prop('style', '')
                }, 1000)
            }
        </script>
    {% endif %}
{% endblock %}