{% extends '../base.html' %}
{% load staticfiles %}

<!--bloque de navbar-->
{% block navbar %}
<!--navbar-->
<div class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top ba-navbar">     
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Inicio</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'solicitudes' %}">Solicitudes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Productos</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#ba-modal-login">Solicitudes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#ba-modal-login">Productos</a>
        </li>
        {% endif %}
    </ul>
</div>

<a class="navbar-brand" href="{% url 'index' %}">
    <div class="ba-center-logo">
        <img class="ba-navbar-logo" src="{% static './img/ba-logo.png' %}" alt="error-logo">
    </div>
</a>
<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
        {% if not user.is_authenticated %}
        <li class="nav-item active">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#ba-modal-registro">Registrarse</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#ba-modal-login">Iniciar sesion</a>
        </li>
        {% else %}
        <li class="nav-item dropdown">
            {% if user.is_superuser or user.is_staff %}
            <li class="nav-item">
                <a class="nav-link" href="/api/">API</a>
            </li>
                {% if user.is_superuser %}
                <button class="btn btn-warning mr-2" type="button" data-toggle="modal" data-target="#ba-modal-tecnico">Registrar técnico</button>
                {% endif %}
            {% else %}
            <span style="color: white; margin-right: 10px;">Bienvenido/a de vuelta</span>
            {% endif %}
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i> {{user}}
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'solicitudes' %}">Mis solicitudes</a>
                <a class="dropdown-item" href="/logout/">Cerrar sesion</a>
            </div>
        </li>
        {% endif %}
    </ul>
</div>
</div>

    {% if not user.is_authenticated %}
    <!--modal registro-->
    <div class="modal fade" id="ba-modal-registro" tabindex="-1" role="dialog" aria-labelledby="ba-modal-registro" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ba-modal-registro">Registrarse en Buenos Aires</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="#" method="post" enctype="multipart/form-data" id="ba-form-registro">
                    {% csrf_token %}
                    <div class="modal-body">
                        <!--div class="form-group">
                            <label for="rut">Rut</label>
                            <input class="form-control" type="text" name="rut" id="rut">
                        </div-->
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input class="form-control" type="text" name="nombre" id="nombre">
                        </div>
                        <div class="form-group">
                            <label for="paterno">Apellido paterno</label>
                            <input class="form-control" type="text" name="paterno" id="paterno">
                        </div>
                        <!--div class="form-group">
                            <label for="materno">Apellido materno</label>
                            <input class="form-control" type="text" name="materno" id="materno">
                        </div>
                        <div class="form-group">
                            <label for="nacimiento">Fecha de nacimiento</label>
                            <input class="form-control" type="date" name="nacimiento" id="nacimiento">
                        </div-->
                        <div class="form-group">
                            <label for="correo">Correo</label>
                            <input class="form-control" type="text" name="correo" id="correo">
                        </div>
                        <!--div class="form-group">
                            <label for="telefono">Telefono</label>
                            <input class="form-control" type="text" name="telefono" id="telefono">
                        </div-->
                        <div class="form-group">
                            <label for="regUsername">Usuario</label>
                            <input class="form-control" type="text" name="regUsername" id="regUsername">
                        </div>
                        <div class="form-group">
                            <label for="regPassword">Contraseña</label>
                            <input class="form-control" type="password" name="regPassword" id="regPassword">
                        </div>
                        <div class="form-group">
                            <label for="regRePassword">Confirme contraseña</label>
                            <input class="form-control" type="password" name="regRePassword" id="regRePassword">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <input class="btn btn-success btn-block" type="submit" value="Registrarse">
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}

<!--bloque de contenido-->
{% block content %}
<div class="container-fluid ba-container ba-login-container d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <div style="background-color: #0074A3; color: white; padding: 20px;">
                    <div class="mb-3">
                        <img class="" style="height: 40px;" src="{% static './img/ba-logo.png' %}" alt="">
                        <h4 class="d-inline align-middle">Buenos Aires</h4>
                    </div>
                    <hr>
                    <form style="width: 300px; max-width: 300px;" method="post" id="ba-form-login">
                        {% csrf_token %}
                        {{form}}
                        <input class="btn btn-success btn-block" type="submit" value="Iniciar sesion">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!--bloque para scripts extra-->
{% block scripts-extra %}
<script>
    function style_login(){
        $(".errorlist").prop('class', 'error-list list-group list-group-flush text-justify mb-3')
        $(".error-list").children().addClass('list-group-item')
        $(".error-list").children().prop('style', 'background-color: #E54C39; color: white;')
        $(".error-list").children().text('Por favor ingrese un usuario y contraseña correctos.')
        $("#id_username").prop('class', 'form-control')
        $('[for="id_username"]').text('Usuario')
        $('[for="id_username"]').prop('class', 'd-block')
        $("#id_password").prop('class', 'form-control mb-3')
        $('[for="id_password"]').text('Contraseña')
        $('[for="id_password"]').prop('class', 'd-block mt-3')
    }

    style_login()
</script>
{% endblock %}